<!DOCTYPE>

<html>

 <% include header.ejs %>

<body>

    <% include navigation.ejs %>

    <h1>Articles</h1>

    <div class="articles-container">

            <% for(var i=0; i<articles.length; i++){ %>

                <div class="article-container">

                    <div class="article-title"><b><%- articles[i].title  %></b></div>
                    <br/>
                    <div class="article-keywords"><%- articles[i].keyWords %></div>
                    <br/>
                    <div class="article-published"> Published: <%-  moment(articles[i].published).format('LL')  %>
                        by  <%- articles[i].author %>
                    </div>
                    <br/>

                    <a href="/article/<%- articles[i].id %>"> READ MORE ... </a>

                </div>

            <% } %>
    </div>

</body>
</html>