<!DOCTYPE>

<html>
<head>

    <link href="/static/css/main.css" rel="stylesheet">

</head>
<body>

    <h3><%- article.title %></h3>
    <p><%- article.keyWords %></p>
    <p><%- article.content %></p>
    <p><%- article.author %></p>
    <p><%-  moment(article.published, 'dd:MM:yyyy') %></p>



</body>
</html>