<!DOCTYPE>

<html>
<head>

    <% include header.ejs %>

</head>
<body>


    <h3><%- article.title %></h3>
    <p><%- article.keyWords %></p>
    <p><%- article.content %></p>
    <p><%- article.author %></p>
    <p><%-  moment(article.published).format('LL') %></p>



</body>
</html>

