<!DOCTYPE>

<html>

 <% include header.ejs %>

<body>

    <% include navigation.ejs %>

    <p class="pageNum">Page: <%- pageNum %></p>

    <div class="articles-container">

            <% for(var i=0; i<articles.length; i++){ %>

                <div class="article-container">

                    <div class="article-title"><b><%- articles[i].title  %></b></div>
                    <br/>
                    <div class="article-keywords"><b>Key words:</b> <%- articles[i].keyWords %></div>
                    <br/>
                    <div class="article-published"> Published: <%-  moment(articles[i].published).format('LL')  %>
                        by  <%- articles[i].author %>
                    </div>
                    <br/>

                    <a href="/article/<%- articles[i].id %>" class="read-more"> READ MORE ... </a>

                </div>

            <% } %>

        <ul class="page-list">

            <% for(var i=0; i <  numberOfPages; i++ ){ %>

           <li>
               <% if(pageNum !== i) { %>

                <!-- Page link -->
               <a href="?page=<%- i %>"><%- i %></a>

               <% }else{ %>

               <!-- Current page button -->
               <p><%- i %></p>
               <% } %>
           </li>

            <% } %>
        </ul>

    </div>

</body>
</html>