<!DOCTYPE>

<html>
<head>

    <% include header.ejs %>

</head>
<body>

<div class="single-article-container">

    <h3 class="single-article-title"><%- article.title %></h3>
    <p ><b>Key words: </b><%- article.keyWords %></p>
    <br/>
    <div class="single-article-content-container">
        <p><%- article.content %></p>
    </div>
    <br/>
    <p>Published: <b><%-  moment(article.published).format('LL') %></b> by <b><%- article.author %></b></p>

</div>

<hr/>

<div class="back-button">
    <a href="/articles" class="back-button">Back to Articles</a>
</div>


</body>
</html>

