<!DOCTYPE>
<html>

    <% include header.ejs %>

<body>


    <h2><%- project.title %></h2>
    <p><%- project.content %></p>
    <% if(project.coverImage){ %>
    <img height="200px" width="200px" src="/uploads/<%- project.coverImage %>">
    <%}%>
    <a href="<%- project.link %>"><%- project.link %></a>



</body>
</html>